/*
	(1) HTML ELEMENTS
	(2) LAYOUT COMPONENTS
	(3) COMPONENT FORMATTING
	(4) GENERAL PURPOSE
	(5) HACKS
		made in washington */

/************************************************
	(1) HTML ELEMENTS
*************************************************/

body {
	color:#333;
	font-family:Verdana,sans-serif;
	font-size: 80% !important;
	line-height:120%;
	margin:0;
	padding:0;	
}

h1 {
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
}

/*
h1.main {
	font-size:14px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}
*/

img {
    border: none;
}

a           { color: #4395F1; }
a:visited   { color: #4395F1; }
a:hover     { color: #004bc7; }



/************************************************
	(2) layout components
*************************************************/

/* instructions-area */
#instructions-area {
	padding-top:5px;
}

/* editor-area */
#editor-area {
	padding-top:15px;
}


#header-region {
    overflow: auto;
    background-color: #eee;
}
       
#utility-nav {
    position: absolute;
    top: 0;
    right: 10px;
}
   
#utility-nav li {
    float: left;
    margin-right: 15px;
    list-style: none;
}
   
#primary-nav {
    background-color: #4395f1;
    border-top: 2px solid #000;
}

#logo {
	margin:10px 0 15px 25px;
}

#main {
	min-height:400px;
}

table.content {
	width:100%;
	height:500px;
}

td.left-column {
	width:5%;
	background-color:#EEEEF5;
}

td.right-column {
	width:15%;
	vertical-align:top;
	background-color:#EEEEF5;	
	text-align: right;
	padding: 0px 10px 5px 20px;"

}

td.center-column {
	width:80%;
	vertical-align:top;
	padding-left:20px;
	padding-right:20px;
}


/* subnav */ 

div.subnav,
#subnav {
	height: 31px;
    margin-top: 10px;
	background: transparent url(../images/bg_subnav_left.png) 0 0 no-repeat;
}

div.subnav div.subnav-inner,
#subnav-inner {
	height: 31px;
	background: transparent url(../images/bg_subnav_right.png) top right no-repeat;
}




/************************************************
	(3) COMPONENT FORMATTING
*************************************************/

/* header-region */
#header-region ul.menu a:hover {
    text-decoration: underline;
    color: #fff;
}

#header-region ul.menu a.active {
    text-decoration: underline;
}

/* subnav */
div.subnav ul,
#subnav ul {
    margin: 0;
	padding-left:5px;
	text-transform: uppercase;
}

div.subnav li,
#subnav li {
    background: transparent url('../images/bg_subnav_item.png') top right no-repeat;
    float: left;
    font-size: .8em;
    padding: 8px 25px 0 5px;
	margin: 0px 0 0 2px; 
    height: 23px;
	list-style: none;
}

div.subnav li.last,
#subnav li.last {
    background: none;
    padding-right: 0;
}

div.subnav li a.active,
#subnav li a.active {
    text-decoration: underline;
}

div.subnav li a,
#subnav li a {
    color: #666;
    text-decoration: none;
}

div.subnav li a:hover,
#subnav li a:hover {
    text-decoration: none;
    color: #004bc7;
}

/* subnav overrides for right-column */
div.subnav.blue {
    background-image: url(../images/bg_subnav_left1.gif);
}
div.subnav.blue div.subnav-inner {
    background-image: url(../images/bg_subnav_right1.gif);
}


/************************************************
	(4) GENERAL PURPOSE
*************************************************/

/* ul.page-controls */
div.page-controls {
    margin: 0;
    padding: 0;
    float: right;
    overflow: auto;
}

div.page-controls li {
    float: left;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

/* ul.check */
ul.check {
    -moz-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-color:#F5F5F5 #E1E1E1 #C4C4C4;
    border-left:1px solid #E1E1E1;
    border-right:1px solid #E1E1E1;
    border-style:solid;
    border-width:1px;
    margin-bottom:1.6em;
    padding: 10px;
}

ul.check li {
    background: url("../images/check.png") no-repeat scroll 12px 50% transparent;
    padding:3px 0 3px 38px;
}

ul.check li.alt {
    background-color:#F5F5F5;
}

ul.check li {
    list-style:none;
}

/* ul.menu */
ul.menu {
	border:medium none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:left;	
	padding: 9px 0 6px 15px;
	margin:0px; 

}

ul.menu li {
	background:transparent none repeat scroll 0 0;
	font-size: 11px;
	margin:0 1em;
	padding:0;
	display: inline;	
	list-style-image:none;
	list-style-type:none;
	color:#FFFFFF;
}

ul.menu li.on {
	text-decoration: none;
	font-size: 11px;
}

ul.menu li a:link, 
ul.menu li a:visited {
	color:#FFFFFF;
	text-decoration:none;	
}

ul.menu li a:hover {
	color:#004bc7;
	text-decoration:underline;	
}



/* page-group */
td .page-group {
	border:0px solid #E6E7F2;	
	background-color:#ffffff;
	vertical-align:top;	
}

.page-group {
	width:97%;
	margin-bottom:5px;
	padding:5px;
	padding-bottom:10px;	
	min-height: 10px;
}

.page-group b, b.small {
	font-weight:bold;
	font-size:10px;
}

td .header  {
	font-weight: bold;
}

ul.image-list {
	margin:0px;
	padding-top:0px;
	padding-right:0px;
	padding-left:5px;
	list-style-image:none;
	list-style-type:none;	
}


/* table.data */
table.data {
    width: 100%;
    border-collapse: collapse;
}

table.data th {
    text-align: left;
    background-color: #c0d7f0;
    color: #333;
    padding: 5px;
}

table.data td {
    padding: 5px;
    border: 1px solid #ccc;
}

table.data tr.controls td,
div.controls {
    text-align: right;
    padding-top: 10px;
}


/* table.form */
table.form {
    border-collapse: collapse;
}

table.form td {
    padding: 5px;
}

table.form td.label {
    text-align: right;
}

table.form tr.controls td {
    text-align: right;
}

    
table.UserManagerListing {
	width: 90%;
	/*border: solid 1px #C8C8C8;*/
	border-collapse: collapse; 
	vertical-align: top;
}

table.CommonListing td {
	border:1px solid #C8C8C8;
}

.content-item {
	padding-left:15px;
	padding-bottom:10px;	
}


li .package-link a:visisted  {
    color: #646464;
}
.green .ajax__progress_indicator {
    background-image:url(../images/progress_green.gif);
}  



/* ul.adjacent */
ul.adjacent {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.adjacent li {
    float:left;
    margin: 0;
    padding: 0;
}


/* ul.flat */
ul.flat {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat li {
    list-style: none;
    margin: 0;
    padding: 0;
}


div.nice-box {
    -moz-border-radius:5px 5px 5px 5px;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-color:#F5F5F5 #E1E1E1 #C4C4C4;
    border-left:1px solid #E1E1E1;
    border-right:1px solid #E1E1E1;
    border-style:solid;
    border-width:1px;
    margin-bottom:1.6em;
    padding: 10px;
}

/*******    UTILITIES **********
*/

.hidden  {
    visibility: hidden;
    display: none;
}

/************************************************
	(5) HACKS
*************************************************/
body #main .nowrapTabStrip {
     width: auto !important;
     max-width: 924px;
}