.green .ajax__progress_indicator
{
    background-image:url(../images/progress_green.gif);
}  

.hidden 
{
    visibility: hidden;
    display: none;
}

body {
	color:#333;
	font-family:Verdana,sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;	
	line-height:120%;
	margin:0;
	padding:0;	
}

img {
    border: none;
}

table.UserManagerListing
{
	width: 90%;
	/*border: solid 1px #C8C8C8;*/
	border-collapse: collapse; 
	vertical-align: top;
}

table.CommonListing td {
	border:1px solid #C8C8C8;
}

h1.main 
{
	font-size:14px;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
}

.content-item
{
	padding-left:15px;
	padding-bottom:10px;	
}

input 
{
	font-family:Verdana,Helvetica;
	font-size:11px;
}

select
{
	font-family:Verdana,Helvetica;
	font-size:11px;
}

#header-region 
{
	background-color: #4A5C8A;
	min-height: 35px;
}	

#logo 
{
	margin:10px 0 0 25px;
	float: right;
	font-weight:bold;
	color:black;
	display:block;
	font-family:Helvetica,sans-serif;
	font-size:20px;
	line-height:20px;
	text-decoration:none;
}

#main 
{
	min-height:400px;
}

table.content 
{
	width:100%;
	height:500px;
}

td.left-column 
{
	width:5%;
	background-color:#EEEEF5;
}

td.right-column 
{
	width:15%;
	vertical-align:top;
	background-color:#EEEEF5;	
	text-align: right;

}

td.center-column {
	width:80%;
	vertical-align:top;
	padding-left:20px;
	padding-right:20px;
}


/* subnav */ 
#subnav {
	height: 31px;
    margin-top: 4px;
	background: transparent url(../images/bg_subnav_left.png) 0 0 no-repeat;
}

#subnav-inner {
	height: 31px;
	background: transparent url(../images/bg_subnav_right.png) top right no-repeat;
}

#subnav ul {
    margin: 0;
	padding-left:5px;
}

#subnav li {
    background: transparent url('../images/bg_subnav_item.png') top right no-repeat;
    float: left;
    padding: 8px 20px 0 10px;
	margin: 0px 0 0 2px; 
    height: 23px;
	list-style: none;
}

#subnav li a {
    color: #666;
    font-size: 10px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

#subnav li a:hover {
    text-decoration: none;
    color: #0085cf;
}

/* ul.menu */
ul.menu {
	border:medium none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:left;	
	padding:0px;
	padding-left:35px;
	padding-top:10px;
	margin:0px; 
}

ul.menu li {
	background:transparent none repeat scroll 0 0;
	font-size: 11px;
	margin:0 1em;
	padding:0;	
	display: inline;	
	list-style-image:none;
	list-style-type:none;
	color:#FFFFFF;
}

li.on {
	color: #0085cf;
	text-decoration: none;
	font-size: 10px;

}

li a:link, li a:visited {
	color:#FFFFFF;
	text-decoration:none;	
}

li a:hover 
{
	color:#999999;
	text-decoration:underline;	
}

#instructions-area 
{
	padding-top:5px;
}

#editor-area
{
	padding-top:15px;
}

td .page-group
{
	border:0px solid #E6E7F2;	
	background-color:#ffffff;
	vertical-align:top;	
}

.page-group 
{
	width:97%;
	margin-bottom:5px;
	padding:5px;
	padding-bottom:10px;	
	min-height: 10px;
}

.page-group b, b.small
{
	font-weight:bold;
	font-size:10px;
}

td .header 
{
	font-weight: bold;
}

ul.image-list
{
	margin:0px;
	padding-top:0px;
	padding-right:0px;
	padding-left:5px;
	list-style-image:none;
	list-style-type:none;	
}


.remember
{
	padding-left:80px;
}

li .package-link a:visisted 
{
    color: #646464;
}

.ajaxOrderedList ul {
    margin: 0px;
    padding: 0px;
}
.ajaxOrderedList li {
    list-style:none outside none;
}