<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!--<property name="connection.connection_string">Server=tcp:lbbfpgb9ir.database.windows.net;Database=gooeycms;User ID=gooeycms@lbbfpgb9ir;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>-->
      <property name="connection.connection_string">Server=tcp:uh2qdpym8p.database.windows.net;Database=gooeycms;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  
  <connectionStrings>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
