<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>  
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="AzureMembershipDb" connectionString="Server=tcp:uh2qdpym8p.database.windows.net;Database=aspnetdb;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;"/>
  </connectionStrings>

  <appSettings>
    <!--<add key="ActiveStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gooeycmsdevstorage;AccountKey=uGsrBnwh4zgNP8HE5GS51kFLNyDY7xBthv+ty6noPPvZrXuck6krgMRt583VeNS15/hvnJ3hlpdBPnpybeXfgA=="/>-->
    <add key="ActiveStorageConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">Server=tcp:uh2qdpym8p.database.windows.net;Database=gooeycms;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>
			<property name="show_sql">true</property>
		</session-factory>
	</hibernate-configuration>  

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms name="gooeycms" protection="All" path="/" loginUrl="login.aspx" slidingExpiration="true" defaultUrl="~/auth/default.aspx" enableCrossAppRedirects="true" timeout="30" />
    </authentication>
    <machineKey
      validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"
      decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F"
      validation="SHA1" />

    <membership defaultProvider="CustomizedProvider">
      <providers>
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AzureMembershipDb" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" enablePasswordRetrieval="false" passwordFormat="Hashed" applicationName="gooeycms"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms"/>
      </providers>
    </roleManager>
    <profile defaultProvider="CustomizedProfileProvider">
      <providers>
        <add name="CustomizedProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms"/>
      </providers>
      <properties>
        <add name="Firstname"/>
        <add name="Lastname"/>
        <add name="Company"/>
        <add name="WorkPhone"/>
        <add name="CellPhone"/>
        <add name="Department"/>
        <add name="PrimaryCulture"/>
        <add name="RequirePasswordChange"/>
        <add name="SubscriptionId"/>
      </properties>
    </profile>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
