/* Format List */
#FormatUl {
	margin: 0px 0 5px 0;
	padding: 0px;
    overflow: auto;
}

#FormatUl li {
	display: inline;
	list-style-image: none;
	margin: 0px;
	padding: 0px;
}

/* editor buttons */
a.formatlink {
    background: transparent url(Images/spr_editor_icons.png) 0 0 no-repeat;
    width: 37px;
    height: 31px;
    float: left;
    margin-right: 5px;
}


#BoldLink { background-position: 0 0;}
#BoldLink:hover { background-position: 0 -30px;}

#ItalicLink { background-position: -47px 0;}
#ItalicLink:hover { background-position: -47px -30px;}

#UnderlineLink { background-position: -94px 0;}
#UnderlineLink:hover { background-position: -94px -30px; }

#H1Link { background-position: -188px 0; }
#H1Link:hover { background-position: -188px -30px; }

#H2Link { background-position: -235px 0;}
#H2Link:hover { background-position: -235px -30px;}

#UnorderedList { background-position: -282px 0; }
#UnorderedList:hover { background-position: -282px -30px; }

#OrderedList { background-position: -329px 0;}
#OrderedList:hover { background-position: -329px -30px;}

#BrLink { background-position: -141px 0; }
#BrLink:hover { background-position: -141px -30px; }

#ImageLink { background-position: -376px 0 ;}
#ImageLink:hover { background-position: -376px -30px ;}

#FormLink { background-position: -423px 0 ;}
#FormLink:hover { background-position: -423px -30px ;}

a.PreviewLink { background-position: -470px 0; }
a.PreviewLink:hover { background-position: -470px -30px; }

#PopupEditor { background-position: -517px 0 ;}
#PopupEditor:hover { background-position: -517px -30px ;}

/*
.PreviewLink {
	background-position: 0 0;
}
#PopupEditor {
	background-position: 0 0;
}
#StrikeLink {
	background-position: 0 0;
}

#H3Link {
	background-position: 0 0;
}
#H4Link {
	background-position: 0 0;
}

#SubLink {
	background-position: 0 0;
}
#SupLink {
	background-position: 0 0;
}
#PageListLink {
	background-position: 0 0;
}
#FileLink {
	background-position: 0 0;
}
#LinkLink {
	background-image: url(Images/Link.png);
}
#ImageUploadLink {
	background-image: url(Images/image_add.png);
}
#AnchorLink {
	background-image: url(Images/Anchor.png);
}
#CodeLink {
	background-image: url(Images/Code.png);
}
#PreLink {
	background-image: url(Images/Pre.png);
}
#BoxLink {
	background-image: url(Images/Box.png);
}
#VariableListLink {
	background-image: url(Images/Snippet.png);
}
#SpecialTagsLink {
	background-image: url(Images/SpecialTags.png);
}
#NoMarkup {
	background-image: url(Images/NoMarkup.png);
}
#CommentLink {
	background-image: url(Images/Comment.png);
}
#EscapeLink {
	background-image: url(Images/Escape.png);
}
#TemplateListLink {
	background-image: url(Images/Template.png);
}
#FormListLink {
	background-image: url(Images/Forms.png);
}
#AddTabLink {
	background-image: url(Images/TabAdd.png);
}

#VariableListDiv {

}
*/

    #ImageBrowserToolbar {
        width:100%;
        height:16px;
        border-bottom:1px outset #000000;
    }
    
    #ImageBrowserExplorer {
		padding: 0;
		margin: 0;
		width:20%;
        float:left;   
    }
    
    #ImageBrowserFiles {
       height: 340px;
       overflow: auto;
    }
    
    #ImageBrowserPreview {

    }
    
    .image-folders {
        clear:both;
        list-style: none;
        margin: 0;
        padding-left: 5px;
    }
    
    .image-folders li 
    {
		padding-left: 17px;
		background: #FFF url("Images/Dir.png") no-repeat 0px 0px;
    }
    
    table.image-thumb {
        width: 95%;
        text-align: center;
        padding: 10px 10px 10px 10px;
        background-color: #C1C1C1;    
    }
    
    table.image-thumb td {
        width: 30%;
        padding: 0px 20px 20px 20px;
        text-align: center;
        vertical-align: middle;
    }
    
    table.image-thumb img {
        margin: 5px 0px 5px 0px;
    }
    
    table.image-thumb a {
        padding: 0px 5px;
    }

DIV .listDiv {
	font-size: 11px;
	border: solid 1px #999999;
	border-style: outset;
	background-color: #EEEEEE;
	padding: 0px;	
}

a.variableListItem {
	display: block;
}

a.formatlink_underline:hover {
	text-decoration: none;
	border: solid 1px #D9671E;
}

a.formatlink_underline {
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border: solid 1px #214C9A;
	text-align:center;
	/*text-indent: -2000px;*/
	margin-right: 2px;
	float: left;
		
	text-decoration: underline;
}



/* Help Panel */

#HelpLink {
    margin-left: 20px;
}

#helpPanel {
    border: 1px solid #ccc;
    overflow: auto;
    width: 99%;
}

#helpTopics {
    float: left;
    width: 20%;
    background-color: #eeeef5;
}

#helpTopics li a {
    border-bottom: 1px solid #fff;
    display: block;
    padding: 8px;
    outline: none;
}

#helpTopics li a.active {
    background-color: #fff;
}

#helpContents {
    float: left;
    width: 80%;
}

#helpContents li.help-content-item {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

#helpContents table {
    width: 100%;
}

#helpContents th,
#helpContents td {
    text-align: left;
    padding: 5px 8px;
    border-left: 1px solid #eeeef5;
    border-bottom: 1px solid #eeeef5;
}

#helpContents .first {
    border-left-width: 0 !important;
}
