<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
          numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
          type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Cache Manager" />
    </cacheManagers>
  </cachingConfiguration>
	<system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type=""/>
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
  
  <appSettings>
    <!--<add key="ActiveStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gooeycmsdevstorage;AccountKey=uGsrBnwh4zgNP8HE5GS51kFLNyDY7xBthv+ty6noPPvZrXuck6krgMRt583VeNS15/hvnJ3hlpdBPnpybeXfgA=="/>-->
    <add key="ActiveStorageConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
  
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">Server=tcp:uh2qdpym8p.database.windows.net;Database=gooeycms;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>
			<property name="show_sql">true</property>
		</session-factory>
	</hibernate-configuration>
	<connectionStrings>
		<add name="AzureMembershipDb" connectionString="Server=tcp:uh2qdpym8p.database.windows.net;Database=aspnetdb;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;"/>
	</connectionStrings>
	<system.web>
		<!-- 
						Set compilation debug="true" to insert debugging 
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
				-->
		<compilation debug="true" targetFramework="4.0"></compilation>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
			<forms name="gooeycms" protection="All" path="/" loginUrl="login.aspx" slidingExpiration="true" defaultUrl="~/auth/default.aspx" enableCrossAppRedirects="true" timeout="30" domain=".gooeycms.net"/>
		</authentication>
    <machineKey
      validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"
      decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F"
      validation="SHA1" />
    
    <membership defaultProvider="CustomizedProvider">
			<providers>
				<add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AzureMembershipDb" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" enablePasswordRetrieval="false" passwordFormat="Hashed" applicationName="gooeycms"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
			<providers>
				<add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms"/>
			</providers>
		</roleManager>
		<profile defaultProvider="CustomizedProfileProvider">
			<providers>
				<add name="CustomizedProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms"/>
			</providers>
			<properties>
				<add name="Firstname"/>
				<add name="Lastname"/>
				<add name="Company"/>
				<add name="WorkPhone"/>
				<add name="CellPhone"/>
				<add name="Department"/>
				<add name="PrimaryCulture"/>
				<add name="RequirePasswordChange"/>
				<add name="SubscriptionId"/>
			</properties>
		</profile>
		<!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="beachead" src="~/Controls/StatusPanel.ascx" tagName="StatusPanel"/>
				<add tagPrefix="beachead" src="~/Controls/ContentEditor/MarkupEditor.ascx" tagName="Editor"/>
        <add tagPrefix="beachead" src="~/Controls/AzureFileExplorer.ascx" tagName="ImageBrowser"/>
				<add tagPrefix="anthem" assembly="Anthem" namespace="Anthem"/>
        <add tagPrefix="bdp" assembly="BasicFrame.WebControls.BasicDatePicker" namespace="BasicFrame.WebControls"/>
			</controls>
		</pages>

    <httpRuntime requestValidationMode="2.0" 
                 executionTimeout="600"
                 maxRequestLength="40960"
                 />   
	</system.web>
</configuration>
