<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="encore.PayPal.Nvp" type="Encore.PayPal.Nvp.Configuration, Encore.PayPal.Nvp" requirePermission="false" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Cache Manager" />
    </cacheManagers>
  </cachingConfiguration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--<add key="ActiveStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gooeycmsdevstorage;AccountKey=uGsrBnwh4zgNP8HE5GS51kFLNyDY7xBthv+ty6noPPvZrXuck6krgMRt583VeNS15/hvnJ3hlpdBPnpybeXfgA=="/>-->
    <!--<add key="ActiveStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gooeycmstorage;AccountKey=WV0ZhoZbKn29rRP3GaoJyjLdA9uFqUO259hzeTOZp3igobNVCa1XI6X8If28jwtAi2kkgF6Ay1sy9gACN2vhkw==" />-->
    <add key="ActiveStorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
  <encore.PayPal.Nvp version="54.0" licensedTo="Beachead Technologies, Inc." licenseKey="81771AE08A3C3055CD1AAD32A4C6E9F17DA84990DC2C9D7A" />  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <!--<property name="connection.connection_string">Server=tcp:lbbfpgb9ir.database.windows.net;Database=gooeycms;User ID=gooeycms@lbbfpgb9ir;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>-->
      <property name="connection.connection_string">Server=tcp:uh2qdpym8p.database.windows.net;Database=gooeycms;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  <connectionStrings>
    <!--<add name="AzureMembershipDb" connectionString="Server=tcp:lbbfpgb9ir.database.windows.net;Database=aspnetdb;User ID=gooeycms@lbbfpgb9ir;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;" />-->
    <add name="AzureMembershipDb" connectionString="Server=tcp:uh2qdpym8p.database.windows.net;Database=aspnetdb;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;" />
  </connectionStrings>
  <system.web>
    <!-- Disable session state since it's not supported within Windows Azure -->
    <sessionState mode="Off" />
    
      <!-- 
						Set compilation debug="true" to insert debugging 
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
				-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="gooeycms" protection="All" path="/" loginUrl="login.aspx" slidingExpiration="true" defaultUrl="~/auth/default.aspx" enableCrossAppRedirects="true" timeout="30" domain=".gooeycms.com" />
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <membership defaultProvider="CustomizedProvider">
      <providers>
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AzureMembershipDb" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" enablePasswordRetrieval="false" passwordFormat="Hashed" applicationName="gooeycms" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms" />
      </providers>
    </roleManager>
    <profile defaultProvider="CustomizedProfileProvider">
      <providers>
        <add name="CustomizedProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms" />
      </providers>
      <properties>
        <add name="Firstname" />
        <add name="Lastname" />
        <add name="Company" />
        <add name="WorkPhone" />
        <add name="CellPhone" />
        <add name="Department" />
        <add name="PrimaryCulture" />
        <add name="RequirePasswordChange" />
        <add name="SubscriptionId" />
      </properties>
    </profile>
    
    <customErrors mode="Off" />
    <!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="beachead" src="~/Controls/StatusPanel.ascx" tagName="StatusPanel" />
        <add tagPrefix="beachead" src="~/Controls/ContentEditor/MarkupEditor.ascx" tagName="Editor" />
        <add tagPrefix="beachead" src="~/Controls/AzureFileExplorer.ascx" tagName="ImageBrowser" />
        <add tagPrefix="beachead" src="~/Controls/Subnav.ascx" tagName="Subnav" />
        <add tagPrefix="anthem" assembly="Anthem" namespace="Anthem" />
        <add tagPrefix="bdp" assembly="BasicFrame.WebControls.BasicDatePicker" namespace="BasicFrame.WebControls" />
        <add namespace="CuteWebUI" assembly="CuteWebUI.AjaxUploader" tagPrefix="CuteWebUI" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="telerik" assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" executionTimeout="600" maxRequestLength="40960" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="TwilioForwardHandler" verb="GET,POST" path="/twilio/forward-init.mxl" type="Gooeycms.Business.Twilio.Handlers.ForwardInitHandler,gooeycms.business" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_RadUploadProgressHandler_ashx" verb="*" preCondition="integratedMode" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" />
        <bindingRedirect oldVersion="3.5.11119.20050" newVersion="4.1.40412.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>