/* over writes */

#content.store {
	padding-left: 0;
	padding-right: 0;
	width: 857px;
}




/* filter */
#filter {
	background: transparent url(../images/bg_store-options.png) 0 0 no-repeat;
	height: 60px;
	padding-top: 22px;
	padding-left: 220px;
	z-index: 10;
}

#filter li {
	list-style: none;
	float: left;
	position: relative;
	z-index: 10;
	font-size: 1.6em;
}

#filter #theme-filter {
	padding: 0 5px;
}

#filter #price-filter {
	padding-left: 5px;
	padding-top: 0;
}

ul#filter div.menu {
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 1;
	width: 146px;
	background: transparent url(../images/bg_filter_list_top.png) 0 0 no-repeat;
	padding-top: 18px;
	display: none;
}

ul#filter li:hover div.menu {
	display: block;
}

ul#filter ul {
	width: 146px;
	background: transparent url(../images/bg_filter_list_bottom.png) bottom left no-repeat;
	padding-bottom: 25px;
}

ul#filter li a img {
	z-index: 10;
	position: relative;
}

ul#filter li li {
	float: none;
	display: block;
	padding: 0 0 5px 0;
	background: transparent url(../images/bg_filter_list_item.png) bottom left no-repeat;
	z-index: 1;
	font-size: .6em;
}

ul#filter li li a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #ccc;
	margin-left: 8px;
	margin-right: 5px;
	padding: 0 5px 5px 10px;
}

ul#filter li li:last-child {
	padding-bottom: 0;
}

ul#filter li li:last-child a {
	padding-bottom: 0;
	border-bottom: 0;
}



/* themes-panel */
ul#themes-panel {
	margin: 10px 0 0 10px;
}

ul#themes-panel.collapse-margin {
   margin-left: 0;
}

ul#themes-panel.collapse-margin li.theme {
    margin-left: 0;
}

ul#themes-panel li.theme {
	background: transparent url(../images/bg_theme_panel.png) 0 0 no-repeat;
	list-style: none;
	width: 387px;
	height: 322px;
	float: left;
	margin: 5px 0 0 20px;
	position: relative;
}

li.theme .logo {
	margin: 8px 0 0 20px;
}

li.theme .title {
	float: right;
	margin: 8px 20px 0 20px;
	color: #4395F1;
	font-size: 1.1em;
	font-weight: bold;
	clear: right;
}

/* PREVIEW */

div.preview {
    position: relative;
}

/* theme slideshow */
li.theme ul.thumbs {
	width: 344px;
	height: 167px;
	margin: 10px 20px 0 20px;
	clear: both;
}

li.theme ul.thumbs li {
	list-style: none;
}


/* ul.thumb-nav */
ul.thumb-nav {
	float: right;
	margin: 5px 23px 0 0;
	height: 6px;
	clear: both;
}

ul.thumb-nav li {
	list-style: none;
	display: inline;
}

ul.thumb-nav li a {
	width: 12px;
	height: 4px;
	border: 1px solid #838383;
	background-color: #fff;
	margin-left: 3px;
	list-style: none;
	float: left;
}

ul.thumb-nav li a.active {
	background-color: #8f8f8f;
}

div.prev {
	position: absolute;
	z-index: 20;
	top: 225px;
	left: -5px;
}

div.next {
	position: absolute;
	z-index: 20;
	top: 225px;
	left: 361px;
}

li.theme div.features {
    bottom: -20px;
    left: 19px;
    position: absolute;
}

li.theme div.features ul {
	background-color: #bfd9f6;
    bottom: 20px;
    display: none;
    margin-left: 10px;
	margin-top: 10px;
	opacity: .9;
    	-moz-opacity: .9;
	    -webkit-opacity: .9;
	padding: 10px;
    position: absolute;
    width: 306px;
    z-index: 4;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

li.theme div.features li {
	list-style: none;
	font-size: .9em;
	background: transparent url(../images/bullet_features.gif) 0 7px no-repeat;
	padding-left: 10px;
}


li.theme .demo-site {
	position: absolute;
	bottom: 45px;
	right: 20px;
	text-decoration:none;
}

li.theme .purchase {
	position: absolute;
	bottom: 25px;
	right: 20px;
	text-decoration:none;
}

li.theme .demo {
	position: absolute;
	bottom: 25px;
	right: 140px;
}


li.theme ul.options-links {
    margin-right: 20px;
}

li.theme ul.options-links li {
    list-style: none;
    background: transparent url(../images/small_arrow.png) center right no-repeat;
    padding-right: 20px;
    text-align: right;
}

/* 63px 68px; */

div.left-column {
    width: 400px;
}
    
div.right-column {
    width: 325px;    
}
    
table.form tr.controls {
    height: 100px;
}
    