/*
	(1) html elements
	(2) structures
	(3) formatting for structures
	(4) general purpose 
	(5) hacks
		made in washington */

/************************************************
	(1) html elements 
*************************************************/
body {
	background: #fff url(../images/bg_body.png) 0 0 repeat-x;
	margin: 0;
	padding: 0;
	color: #555544;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,Helvetica,sans-serif;
	font-size: 62.5%;
	line-height: 1.5;
	text-decoration: none;
}

h1 {
	color: #00152d;
	font-size:180%;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	color: #042545;
	font-size: 260%;
	margin: 0;
	padding: 0;
}

h3 {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,Helvetica,sans-serif;
	color: #777777;
	font-size:240%;
	font-weight:normal;
	letter-spacing:-0.08em;
	line-height:1em;
	margin:0 0 10px;
}

h4 {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,Helvetica,sans-serif;
	color: #05213c;
	font-size:240%;
	font-weight:normal;
	letter-spacing:-0.08em;
	line-height:1em;
	margin:0 0 10px;
}


/**************************************
	(2) structures
***************************************/

#masthead {
	margin: 0 auto;
	height: 140px;
	width: 900px;
	position: relative;
}


#mastheadlogo {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/gooey_masthead.png)no-repeat;
height:105px;
}

#nav {
	position: absolute;
	left: 30%;
	top: 75px;
	font-size: 110%;

}

#content-wrapper {
	overflow: auto;
	width: 900px;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 120%;
	line-height: 1.5;
}

#content {
	float: left;
	margin: 0 50px;
	width: 500px;
}

#resources {
	float: left;
	width: 299px;
	border-bottom: 1px solid #CCDDEE;
	border-right: 1px solid #CCDDEE;
}

.footer {
	background: transparent url(../images/bg_footer.png) repeat-x scroll 0 0;
	padding: 40px 0 10px;
	margin-top: 50px;
	text-align: center;
	font-size: 100%;
	text-transform: uppercase;
	color: #7799AA;


}

.footer a {
	text-decoration: none;
	color: #7799AA;

}



/**************************************
	(3) formatting for structures
***************************************/
	
/* nav */
#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav li {
	margin: 0 1px 0 0;
	padding: 0;
	background: transparent url(../images/bg_nav_li.png) 0 0 no-repeat;
	float: left;
}

#nav li:hover,
#nav li.active {
	background-image: url(../images/bg_nav_li_active.png);
}


#nav a {
	text-decoration: none;
	text-transform: uppercase;
color: #FFFFFF;
	background: transparent url(../images/bg_nav_a.png) 100% 0 no-repeat ;
	display: block;
	float: left;
	padding: 0.65em 1.2em;
}



#nav li:hover a,
#nav li.active a {
	color:#225566;
	background-image: url(../images/bg_nav_a_active.png);
}



/* intro */
.intro {

}

.intro p {
	color: #225566;
	font-size: 150%;
	line-height: 1.467;
	position: relative;
}



/* resources */
#resources .feature {
	padding: 20px 30px 20px 29px;	
}


/**************************************
	(4) general purpose
***************************************/

.u-bottom {
	border-bottom: 1px solid #CCDDEE;
	margin-bottom: 15px;
}

.u-top {
	border-top: 1px solid #CCDDEE;
	padding-top: 10px;
	margin-top: 20px;
}

.more {
	position: relative;
	text-align: right;
}

.more a {
	border-left: 1px solid #CCDDEE;
	color: #7799AA;
	padding-bottom: 0.1em;
	padding-left: 0.5em;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
}

/**************************************
	(5) hacks
***************************************/

* html #content {
	margin-left: 25px;
}

