.button {
  position: relative;
}

.button > .tl,
.button > .tr,
.button > .bl,
.button > .br {
  width: 6px;
  height: 6px;
  position: absolute;
}

.button > .tl {
  background: url(../images/corner_tl.png) top left no-repeat;
  top: -2px;
  left: -2px;
}

.button > .tr {
  background: url(../images/corner_tr.png) top right no-repeat;
  top: -2px;
  right: -2px;
}

.button > .bl {
  background: url(../images/corner_bl.png) bottom left no-repeat;
  bottom: -2px;
  left: -2px;
}

.button > .br {
  background: url(../images/corner_br.png) bottom right no-repeat;
  bottom: -2px;
  right: -2px;
}
