h2 {
	color: #4395f1;
}


#plans {
	background: transparent url(../images/bg_pricing_panels.png) 0 0 no-repeat;
	width: 632px;
	height: 399px;
	margin-left: 55px;
}

#plans .plan {
	float: left;
	text-align: center;
	text-shadow: #7bb4f4 0 0.01em 0.2em;
	font-size: 1.1em;
}

#plans .plan h2 {
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-size: 1.4em;
	text-shadow: #173454 0 -0.01em 0.2em;
}

#plans .plan li {
	margin-bottom: 20px;
}

#free-plan {
	width: 170px;
	margin: 45px 30px 0 62px;
}

#business-plan {
	width: 180px;
	margin: 45px 60px 0 100px;

}

/* details */

#details {
	float: left;
	width: 350px;
	margin-right: 40px;
	margin-top: 35px;
}

#details h2 {
	margin-bottom: 0;
}


#enterprise-needs {
	margin-top: 25px;
	float: left;
	width: 316px;
}

