<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type=""/>
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
  <appSettings>
    <!--<add key="ActiveStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gooeycmsdevstorage;AccountKey=uGsrBnwh4zgNP8HE5GS51kFLNyDY7xBthv+ty6noPPvZrXuck6krgMRt583VeNS15/hvnJ3hlpdBPnpybeXfgA=="/>-->
    <add key="ActiveStorageConnectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">Server=tcp:uh2qdpym8p.database.windows.net;Database=gooeycms;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>
			<property name="show_sql">true</property>
		</session-factory>
	</hibernate-configuration>
	<connectionStrings>
		<add name="AzureMembershipDevelopmentDb" connectionString="Server=tcp:uh2qdpym8p.database.windows.net;Database=aspnetdb;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="Validation" timeout="300"/>
		</authentication>
		<membership defaultProvider="CustomizedProvider">
			<providers>
				<add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AzureMembershipDevelopmentDb" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" enablePasswordRetrieval="false" passwordFormat="Hashed" applicationName="gooeycms"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
			<providers>
				<add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AzureMembershipDevelopmentDb" applicationName="gooeycms"/>
			</providers>
		</roleManager>
		<profile defaultProvider="CustomizedProfileProvider">
			<providers>
				<add name="CustomizedProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AzureMembershipDevelopmentDb" applicationName="gooeycms"/>
			</providers>
			<properties>
				<add name="Firstname"/>
				<add name="Lastname"/>
				<add name="Company"/>
				<add name="WorkPhone"/>
				<add name="CellPhone"/>
				<add name="Department"/>
				<add name="PrimaryCulture"/>
				<add name="RequirePasswordChange"/>
				<add name="SubscriptionId"/>
			</properties>
		</profile>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add verb="GET" path="process.handler" type="Gooeycms.Business.Pages.PageRequestHandler,gooeycms.business"/>
		</httpHandlers>
		<httpModules>
			<add name="HibernateSessionModule" type="Beachead.Persistence.Hibernate.Handlers.HibernateHttpModule, gooeycms.persistence"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="HibernateSessionModule"/>
			<add name="HibernateSessionModule" type="Beachead.Persistence.Hibernate.Handlers.HibernateHttpModule, gooeycms.persistence"/>
		</modules>
		<handlers>
			<remove name="PageProcessor"/>
      <remove name="JavascriptProcessor"/>
      <remove name="StylesheetProcessor"/>
      <add name="JavascriptProcessor" verb="GET" path="/gooeyscripts/javascript.handler" type="Gooeycms.Business.Javascript.JavascriptHandler,gooeycms.business"/>
      <add name="StylesheetProcessor" verb="GET" path="/gooeycss/stylesheet.handler" type="Gooeycms.Business.Css.CssHandler,gooeycms.business"/>
      <add name="PageProcessor" verb="GET" path="process.handler" type="Gooeycms.Business.Pages.PageRequestHandler,gooeycms.business"/>
      <add name="CacheRefresh" verb="GET" path="cacherefresh.handler" type="Gooeycms.Business.Cache.CacheRefreshHandler,gooeycms.business"/>
    </handlers>
		<rewrite>
			<rules>
        <rule name="Javascript Rewrite Rule" stopProcessing="true">
          <match url="^gooeyscripts/(.*\.js)"/>
          <action type="Rewrite" url="/gooeyscripts/javascript.handler?file={R:1}"/>
        </rule>
        <rule name="CSS Rewrite Rule" stopProcessing="true">
          <match url="^gooeycss/(.*\.css)"/>
          <action type="Rewrite" url="/gooeycss/stylesheet.handler?file={R:1}"/>
        </rule>
        <rule name="Rewrite Rule" stopProcessing="true">
					<match url=".*\?(.*)|.*"/>
          <conditions>
            <add input="{UNENCODED_URL}" pattern="/gooeyscripts/.*" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/gooeycss/.*" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/cacherefresh.handler" negate="true" />
          </conditions>
          <action type="Rewrite" url="process.handler?{R:1}"/>
				</rule>        
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
