<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>-->
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
          numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"
          type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Cache Manager" />
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="Null Storage" />
    </backingStores>
  </cachingConfiguration>
  <system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type=""/>
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
  <appSettings>
    <!--<add key="ActiveStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gooeycmsdevstorage;AccountKey=uGsrBnwh4zgNP8HE5GS51kFLNyDY7xBthv+ty6noPPvZrXuck6krgMRt583VeNS15/hvnJ3hlpdBPnpybeXfgA=="/>-->
    <add key="ActiveStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gooeycmstorage;AccountKey=WV0ZhoZbKn29rRP3GaoJyjLdA9uFqUO259hzeTOZp3igobNVCa1XI6X8If28jwtAi2kkgF6Ay1sy9gACN2vhkw=="/>
    <!--<add key="ActiveStorageConnectionString" value="UseDevelopmentStorage=true"/>-->
  </appSettings>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Server=tcp:ntwjcjx9kt.database.windows.net;Database=gooeycms;User ID=gooeycms@ntwjcjx9kt;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=true;</property>
      <!--<property name="connection.connection_string">Server=tcp:uh2qdpym8p.database.windows.net;Database=gooeycms;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;</property>-->
			<property name="show_sql">true</property>
		</session-factory>
	</hibernate-configuration>
  <!--
  <log4net>
    <appender name="DebugSQL" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\projects\nhlog\nhsql.log"/>
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="DebugSQL" />
    </logger>

    <appender name="DebugNH" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\projects\nhlog\nh.log"/>
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <logger name="NHibernate" additivity="false">
      <level value="ALL" />
      <appender-ref ref="DebugNH" />
    </logger>
  </log4net>
  -->
  <connectionStrings>
    <add name="AzureMembershipDb" connectionString="Server=tcp:ntwjcjx9kt.database.windows.net;Database=aspnetdb;User ID=gooeycms@ntwjcjx9kt;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=true;"/>
		<!--<add name="AzureMembershipDb" connectionString="Server=tcp:uh2qdpym8p.database.windows.net;Database=aspnetdb;User ID=gooeycms@uh2qdpym8p;Password=12qwas#$ERDF;Trusted_Connection=False;Encrypt=True;"/>-->
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="Validation" timeout="300"/>
		</authentication>
		<membership defaultProvider="CustomizedProvider">
			<providers>
				<add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AzureMembershipDb" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" enablePasswordRetrieval="false" passwordFormat="Hashed" applicationName="gooeycms"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
			<providers>
				<add name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms"/>
			</providers>
		</roleManager>
		<profile defaultProvider="CustomizedProfileProvider">
			<providers>
				<add name="CustomizedProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AzureMembershipDb" applicationName="gooeycms"/>
			</providers>
			<properties>
				<add name="Firstname"/>
				<add name="Lastname"/>
				<add name="Company"/>
				<add name="WorkPhone"/>
				<add name="CellPhone"/>
				<add name="Department"/>
				<add name="PrimaryCulture"/>
				<add name="RequirePasswordChange"/>
				<add name="SubscriptionId"/>
			</properties>
		</profile>
    
    <customErrors mode="Off" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add verb="GET" path="process.handler" type="Gooeycms.Business.Pages.PageRequestHandler,gooeycms.business"/>
		</httpHandlers>
		<httpModules>
			<add name="HibernateSessionModule" type="Beachead.Persistence.Hibernate.Handlers.HibernateHttpModule, gooeycms.persistence"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="HibernateSessionModule"/>
			<add name="HibernateSessionModule" type="Beachead.Persistence.Hibernate.Handlers.HibernateHttpModule, gooeycms.persistence"/>
		</modules>
		<handlers>
			<remove name="PageProcessor"/>
      <remove name="JavascriptProcessor"/>
      <remove name="StylesheetProcessor"/>
      <add name="FileDownloadProcessor" verb="GET" path="/gooeyfiles/files.handler" type="Gooeycms.Business.Content.FileDownloadHandler,gooeycms.business"/>
      <add name="JavascriptProcessor" verb="GET" path="/gooeyscripts/javascript.handler" type="Gooeycms.Business.Javascript.JavascriptHandler,gooeycms.business"/>
      <add name="StylesheetProcessor" verb="GET" path="/gooeycss/stylesheet.handler" type="Gooeycms.Business.Css.CssHandler,gooeycms.business"/>
      <add name="PageProcessor" verb="GET" path="process.handler" type="Gooeycms.Business.Pages.PageRequestHandler,gooeycms.business"/>
      <add name="FormProcessor" verb="POST" path="/gooeyforms/formprocess.handler" type="Gooeycms.Business.Forms.FormProcessingHandler,gooeycms.business"/>
      <add name="FlashHandler" verb="GET,POST" path="flash.handler" type="Gooeycms.Business.Flash.FlashRequestHandler,gooeycms.business"/>
	    <add name="ImageHandler" verb="GET" path="image.handler" type="Gooeycms.Business.Images.ImageRequestHandler,gooeycms.business"/>
      <add name="CacheRefresh" verb="GET" path="cacherefresh.handler" type="Gooeycms.Business.Cache.CacheRefreshHandler,gooeycms.business"/>
    </handlers>
		<rewrite>
			<rules>
        <rule name="Gooey 404 Rule" stopProcessing="true">
          <match url="^gooeycms/errors/404.aspx"/>
          <action type="Rewrite" url="/gooey-static/404.aspx"/>
        </rule>
        <rule name="Gooey 500 Rule" stopProcessing="true">
          <match url="^gooeycms/errors/500.aspx"/>
          <action type="Rewrite" url="/gooey-static/500.aspx"/>
        </rule>
        <rule name="File Download Rule" stopProcessing="true">
          <match url="^gooeyfiles/((.*)/)?(.*\.((docx?)|(pdf)|(xls)))"/>
          <action type="Rewrite" url="/gooeyfiles/files.handler?qs={UrlEncode:{R:1}}&amp;filename={UrlEncode:{R:3}}"/>
        </rule>
        <rule name="Javascript Rewrite Rule" stopProcessing="true">
          <match url="^gooeyscripts/(themes|local)/(.*?)/(.*\.js)"/>
          <action type="Rewrite" url="/gooeyscripts/javascript.handler?type={R:1}&amp;key={R:2}&amp;file={UrlEncode:{R:3}}"/>
        </rule>
        <rule name="CSS Rewrite Rule" stopProcessing="true">
          <match url="^gooeycss/(themes|local)/(.*?)/(.*\.css)"/>
          <action type="Rewrite" url="/gooeycss/stylesheet.handler?type={R:1}&amp;key={R:2}&amp;file={UrlEncode:{R:3}}"/>
        </rule>
        <rule name="Form Processing Rule" stopProcessing="true">
          <match url="^forms/(.*?)-form-post.aspx"/>
          <action type="Rewrite" url="/gooeyforms/formprocess.handler?{QUERY_STRING}&amp;pagename={R:1}"/>
        </rule>
        <rule name="Flash Handler Rule" stopProcessing="true">
          <match url="^(.*?).swf"/>
          <action type="Rewrite" url="/gooeyflash/flash.handler?{QUERY_STRING}&amp;filename={R:1}"/>
        </rule>
        <rule name="Image Handler Rule" stopProcessing="true">
          <match url="^((.*?).(jpg|jpeg|gif|png))"/>
          <action type="Rewrite" url="/gooeyimage/image.handler?{QUERY_STRING}&amp;filename={R:1}"/>
        </rule>
        <rule name="Rewrite Rule" stopProcessing="true">
					<match url=".*\?(.*)|.*"/>
          <conditions>
            <add input="{UNENCODED_URL}" pattern="/gooeyscripts/.*" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/gooeyfiles/.*" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/gooeycss/.*" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/gooeyforms/.*" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/cacherefresh.handler" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/debugpage.aspx" negate="true" />
            <add input="{UNENCODED_URL}" pattern="/gooeycms/errors/.*" negate="true" />
            <add input="{UNENCODED_URL}" pattern="favicon.ico" negate="true" />
          </conditions>
          <action type="Rewrite" url="process.handler?{R:1}"/>
				</rule>        
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
